@import "~bootstrap/scss/bootstrap.scss";
body{
    font-family: 'Shadows Into Light', cursive;
    background-image: url(https://images.unsplash.com/photo-1502842294453-95e49a5ce544?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    margin-bottom: -5rem;
}
.square{
    height: 8rem;
    width: 8rem;
    border: #e1e1e1 0.2rem solid;
    font-family: 'Shadows Into Light', cursive; 
    font-size: 7rem;
    color: #B81919;
    margin: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.rowBoard {
    display: flex;
    justify-content: center;
}
span {
    font-size: 2rem;
    color: #505050;
    font-size: bold;
}

#winnerDiv {
    height: 3rem;
}

.modal{
    display: flex;
    justify-content: space-around;
}
.title{
    margin-top: 5rem;
    
}

h1{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
h3{
    font-size: 1.5rem;
    color: #B81919;
    font-weight: bold;
    background-color: whitesmoke;
    opacity: 0.7;
}

.fa-times{
    color: #B81919
}
.fa-circle{
    color: #B81919
}

.modalTitle{
    font-size: 2rem;
    color: grey;
    font-weight: bold;
}
input{
    border: none;
    display: flex;
    font-size: 1.3rem;
    text-align: center;
}
.modalHeader{
    border: none;
}
.modalFooter {
    border: none;
}
.modalContent{
    border: none;
}
.playButton{
    margin-top: -2.8rem;
}
.resetButton{
    color: whitesmoke;
}