@import "~bootstrap/scss/bootstrap.scss";
.body{
    background-color: green;
}
.square{
    height: 10rem;
    width: 10rem;
    background-color:white;
    border: grey 0.3rem solid; 
    font-size: 3rem;
    margin: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowBoard {
    display: flex;
    justify-content: center;
}

.board {
    margin-top: 7rem;
}
